<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,uesr-scalable=0" />
    <title>智慧取药柜</title>
  </head>
  <body>
   <!-- 引入公共页头 -->
   <%= require("html-loader!../common/header/index.html") %>
    <section class="product-nav-container">
      <ul class="product-nav-list">
        <li class="product-nav-item on">
          <a href="product1.html">智慧取药柜</a>
        </li>
        <li class="product-nav-item">
          <a href="product2.html">智慧发药机</a>
        </li>
        <li class="product-nav-item">
          <a href="product3.html">智慧输液器</a>
        </li>
        <li class="product-nav-item">
          <a href="product4.html">智慧精麻柜</a>
        </li>
      </ul>
    </section>
    <section class="main-container">
      <h1 class="title">智慧药房</h1>
      <div class="desc">
        智慧药房利用信息化和自动化手段，有效提高药品调配准确率，极大提升药品的储运效率，将药师从繁重、机械收方发药的体力劳动上释放出来，有更多的时间和精力投入为患者提供药学服务上，对全面提升医院服务水平、患者就医体验及和谐医患关系等方面都起到了积极推动作用。
      </div>
      <div class="video-box">
        <video controls src="/public/imgs/travel.ogv"></video>
      </div>
      <div class="imgs">
        <img src="/public/imgs/product/product_02.png" alt="智慧药房">
        <img src="/public/imgs/product/product_03.png" alt="智慧药房">
        <img src="/public/imgs/product/product_04.png" alt="智慧药房">
        <img src="/public/imgs/product/product_05.png" alt="智慧药房">
        <img src="/public/imgs/product/product_06.png" alt="智慧药房">
        <img src="/public/imgs/product/product_07.png" alt="智慧药房">
        <img src="/public/imgs/product/product_08.png" alt="智慧药房">
      </div>
    </section>
    <section class="products-container">
      <div class="product-swiper swiper-container">
        <ul class="swiper-wrapper product-list">
          <li class="swiper-item swiper-slide">
            <img src="/public/imgs/product01.png" alt="">
            <div class="text">
              较多麻精类药品<br>（神经内科等病区）
            </div>
          </li>
          <li class="swiper-item swiper-slide">
            <img src="/public/imgs/product01.png" alt="">
            <div class="text">
              较多麻精类药品<br>（神经内科等病区）
            </div>
          </li>
          <li class="swiper-item swiper-slide">
            <img src="/public/imgs/product01.png" alt="">
            <div class="text">
              较多麻精类药品<br>（神经内科等病区）
            </div>
          </li>
        </ul>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </section>
   <!-- 引入公共页尾 -->
   <%= require("html-loader!../common/footer/index.html") %>
  </body>
</html>
