<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,uesr-scalable=0" />
    <title>智慧文旅</title>
  </head>
  <body>
   <!-- 引入公共页头 -->
   <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container">
      <div class="banner-swiper swiper">
        <ul class="banner-list swiper-wrapper">
          <li class="banner-item swiper-slide">
            <img src="/public/imgs/banner-travel.jpg" alt="">
          </li>
          <li class="banner-item swiper-slide">
            <img src="/public/imgs/banner-travel.jpg" alt="">
          </li>
          <li class="banner-item swiper-slide">
            <video src="/public/imgs/travel.ogv" loop controls></video>
          </li>
        </ul>
      </div>
    </section>
    <section class="content-container">
      <img src="/public/imgs/travel/travel_02.png" alt="">
      <img src="/public/imgs/travel/travel_03.png" alt="">
      <img src="/public/imgs/travel/travel_04.png" alt="">
      <img src="/public/imgs/travel/travel_05.png" alt="">
      <img src="/public/imgs/travel/travel_06.png" alt="">
      <img src="/public/imgs/travel/travel_07.png" alt="">
      <img src="/public/imgs/travel/travel_08.png" alt="">
    </section>
   <!-- 引入公共页尾 -->
   <%= require("html-loader!../common/footer/index.html") %>
  </body>
</html>
