<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,uesr-scalable=0" />
    <title>艺术云码</title>
  </head>
  <body>
   <!-- 引入公共页头 -->
   <%= require("html-loader!../common/header/index.html") %>
    <section class="qrcode-box bg">
      <img class="qrcode-img" src="/public/imgs/qrcode.png" alt="艺术云码">
      <a class="text">
        <i class="icon icon-xiaochengxu"></i>
        <span>点击小程序体验</span>
      </a>
    </section>
    <section class="content">
      <img src="/public/imgs/art-qrcode/art-qrcode_02.jpg" alt="">
      <img src="/public/imgs/art-qrcode/art-qrcode_03.jpg" alt="">
      <img src="/public/imgs/art-qrcode/art-qrcode_04.jpg" alt="">
      <img src="/public/imgs/art-qrcode/art-qrcode_05.jpg" alt="">
      <img src="/public/imgs/art-qrcode/art-qrcode_06.jpg" alt="">
      <img src="/public/imgs/art-qrcode/art-qrcode_07.jpg" alt="">
      <img src="/public/imgs/art-qrcode/art-qrcode_08.jpg" alt="">
      <img src="/public/imgs/art-qrcode/art-qrcode_09.jpg" alt="">
      <img src="/public/imgs/art-qrcode/art-qrcode_10.jpg" alt="">
      <img src="/public/imgs/art-qrcode/art-qrcode_11.jpg" alt="">
      <img src="/public/imgs/art-qrcode/art-qrcode_12.jpg" alt="">
      <img src="/public/imgs/art-qrcode/art-qrcode_13.jpg" alt="">
      <img src="/public/imgs/art-qrcode/art-qrcode_14.jpg" alt="">
      <img src="/public/imgs/art-qrcode/art-qrcode_15.jpg" alt="">
      <img src="/public/imgs/art-qrcode/art-qrcode_16.jpg" alt="">
      <img src="/public/imgs/art-qrcode/art-qrcode_17.jpg" alt="">
    </section>
    <section class="qrcode-box">
      <img class="qrcode-img" src="/public/imgs/qrcode.png" alt="艺术云码">
      <a class="text">
        <i class="icon icon-xiaochengxu"></i>
        <span>点击小程序体验</span>
      </a>
    </section>
   <!-- 引入公共页尾 -->
   <%= require("html-loader!../common/footer/index.html") %>
  </body>
</html>
